// Importar variables
@use "sass:color";
@use "variables";

// Estilos base
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: variables.$blanco;
    color: variables.$negro;
    .header-top-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        p {
            margin-right: variables.$espaciado-pequeno;
            span {
                font-weight: bold;
            }
        }
    }
  nav {
      display: flex;
      justify-content: space-around;
      a {
          color: variables.$blanco;
          text-decoration: none;
      }
  }
}

body {
    font-family: variables.$fuente-principal;
    font-size: variables.$tamano-texto;
    color: variables.$negro;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    font-size: variables.$tamano-titulo;
    margin-bottom: variables.$espaciado-mediano;
}

h2 {
    font-size: variables.$tamano-subtitulo;
    margin-bottom: variables.$espaciado-pequeno;
}

a {
    color: variables.$azul;
    text-decoration: none;
    transition: variables.$transicion-rapida;
    &:hover {
        text-decoration: underline;
    }
}

.importante {
	font-weight: bold;
}

.texto-subrayado {
    text-decoration: underline;
  }

button {
    background-color: variables.$rojo;
    color: variables.$blanco;
    border: none;
    padding: variables.$espaciado-pequeno variables.$espaciado-mediano;
    border-radius: variables.$radio-borde;
    cursor: pointer;
    transition: variables.$transicion-rapida;
    &:hover {
        background-color: color.scale(variables.$rojo, $lightness: -10%);
    }
}

footer {
    color: variables.$blanco;
    text-align: left;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Regla para asegurar que las imágenes SVG se visualicen correctamente
svg, img[src$=".svg"] {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

main, section, header, footer, .container {
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
