// Colores principales
$azul: #001c3a;
$rojo: #e2001a;
$blanco: #ffffff;
$negro: #000000;
$gris-claro: gray;

// Tipografía
$fuente-principal: 'Outfit', sans-serif;
$tamano-titulo: 2.5rem;
$tamano-subtitulo: 1.5rem;
$tamano-texto: 1rem;

// Espaciado
$espaciado-grande: 3rem;
$espaciado-mediano: 1.5rem;
$espaciado-pequeno: 0.5rem;

// Otros
$radio-borde: 5px;
$transicion-rapida: all 0.3s ease-in-out;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large: 1200px;
$breakpoint-extra-large: 1920px;
